body {
    overflow-x: hidden;
    width: 100%;
}

.home img {
    width: 85%;
}

.icons-contain {
    display: flex;
    justify-content: center;
    align-items: start;
    background: #1F1F1FD9;
    width: 100%;
    min-height: 50vh;
    color: #fff;
}

.icons-contain h1 {
    font-size: 50px;
    font-weight: 200;
}

.icons-contain pre {
    font-size: 22px;
    font-weight: 300;
    line-height: 30px;
}

.icons-text img {
    width: 60px;
}

.icons-text p {
    font-size: 16px;
    font-weight: 600;
}

.icons-text-totl-f {
    width: 100%;
    padding: 50px 0;
}

.icons-text-totl {
    gap: 150px;
}

.circle-img {
    width: 220px;
    height: 220px;
    padding: 20px;
    box-shadow: 20px 20px 50px 0px #CDCDCD inset, -20px -20px 50px 0px #FFFFFF inset;
}

.circle-img#img12 {
    padding: 60px;
}

.card {
    width: 350px;
    min-height: 520px;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.1);
    border-radius: 20px;
    background-color: #F3F3F3;
}

.cards {
    padding-top: 40px;
}

.card pre {
    text-align: center;
    font-weight: 600;
    line-height: 30px;
}

.card h1 {
    font-weight: 300;
    font-size: 40px;
}

.circle-img img {
    width: 130px;
}

.circle-img img#img2 {
    width: 110px;
}

.circle-img img#img3 {
    width: 110px;
}

.text-icon-big {
    padding: 30px;
    display: flex;
    align-items: start;
    justify-content: center;
}

.text-icon-big h1 {
    font-weight: 300;
}

.circle-img-s {
    width: 90px;
    height: 90px;
    padding: 20px;
    box-shadow: 20px 20px 50px 0px #CDCDCD inset, -20px -20px 50px 0px #FFFFFF inset;
}

.circle-img-s img {
    width: 50px;
}

.text-icon p {
    font-size: 20px;
    font-weight: 300;
    width: 930px;
}

.text-icon {
    padding: 0 30px;
}

.circil {
    width: 100%;
}

.cilcil1-cont {
    background-color: #f3f3f3;
    padding: 0 0 200px 0;
}

.circil .circil-3 {
    width: 250px;
    height: 250px;
    box-shadow: 20px 20px 50px 0px #CDCDCD inset, -20px -20px 50px 0px #FFFFFF inset;
}

.circil .circil-3 .cilcil1 img {
    width: 60px;
}

.circil .circil-3 .cilcil1 {
    width: 150px;
    height: 150px;
    background-color: #ededed;
    box-shadow: 20px 20px 50px 0px #0000002E, 20px 20px 50px 0px #FFFFFF inset, -20px -20px 50px 0px #CDCDCD inset, 20px 20px 50px 0px #FFFFFF40 inset;
}

.text-circil-totl {
    width: 100%;
}

.text-circil .h43D {
    font-size: 20px;

}

.text-circil p {
    font-weight: 400;
    font-style: 15px;
    width: 350px;
    text-align: center;
}

.cilcil1-cont .h1-cilcil {
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    min-height: 50px;
    padding: 70px;
}

.cilcil1-cont .h1-cilcil h1 {
    font-weight: 200;
    font-size: 56px;
}

.imgs-4 {
    width: 100%;
    min-height: 60vh;
    display: flex;
    align-items: start;
    justify-content: center;
}

.imgs {
    width: 100%;
    padding: 0 50px;
}

.imgs-4 h1 {
    font-weight: 300;
    font-size: 50px;
}

.imgs img {
    width: 190px;
}

.imgs img#img2 {
    width: 250px;
}

.imgs img#img3 {
    width: 220px;
}

.imgs img#img4 {
    width: 80px;
}

.person-1 h1 {
    font-weight: 300;
    font-size: 50px;
    padding: 100px 75px;
}

.cards2-wrapper {
    overflow: auto;
    padding: 20px 0;
}

.cards2-wrapper .cards2 {
    width: max-content;
    padding: 50px;
}

.card2 {
    width: 350px;
    height: 520px;
    box-shadow: 10px 10px 25px rgba(0, 0, 0, 0.1);
    border-radius: 35px;
    background-color: #F3F3F3;
    display: flex;
    align-items: start;
    justify-content: center;
}

.card2 img {
    width: 100%;
    margin-bottom: 60px;
    margin-top: -40px;
}

.card2 img#img4 {
    width: 100%;
    height: 350px;
}

.card2 .text-img2 {
    width: 100%;
    padding: 0 40px;
    display: flex;
}

.card2 .text-img2 h4 {
    font-weight: 600;
    font-size: 23px;
}

.card2 .text-img2 p {
    font-size: 21px;
    letter-spacing: 1px;
}

.img-bagra {
    width: 100%;
    height: 1070px;
    background: url(../images/103943abab76678e643db1570c83dd0e5a5b0edd.jpg);
    background-size: cover;
    background-position: center;
    position: relative;
}

.img-bagra h1 {
    position: absolute;
    top: 6%;
    left: 27%;
    transform: translate(-50%, -50%);
    color: #1F1F1F;
    font-size: 40px;
    font-weight: 300;
    width: 600px;
}

.img-bagra p {
    position: absolute;
    bottom: 10%;
    left: 80%;
    transform: translate(-50%, -50%);
    color: #1F1F1F;
    font-size: 20px;
    font-weight: 600;
    width: 520px;
    font-family: myfontp;
    line-height: 30px;
}

@font-face {
    font-family: myfontp;
    src: url(../fonts/font-/Lora/Lora-VariableFont_wght.ttf);
}

.img-scorl-f {
    background: #f5f5f5;
    padding: 40px;
}

.img-scorl-f h1 {
    color: #1F1F1F;
    font-size: 40px;
    font-weight: 300;
    width: 600px;
}

.img-scorl-f-h1 {
    padding: 30px 50px;
    width: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
}

.testimonial {
    width: 100%;
    max-width: 1200px;
}

.card-person {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 100px;
}

.person {
    width: 350px;
    height: 520px;

    background: white;
    border-radius: 30px;
    /* padding:25px; */

    box-shadow: 0 10px 30px rgba(0, 0, 0, 0.08);
}

.image-box {
    width: 100%;
    height: 320px;
    overflow: hidden;
    border-radius: 20px;
}

.image-box img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.info {
    margin-top: 60px;
}

.info h2 {
    font-size: 20px;
    margin-bottom: 8px;
}

.info p {
    color: #777;
    font-size: 25px;
}

.content {
    flex: 1;
}

.content p {
    width: 590px;
    font-size: 20px;
    line-height: 1.8;
    color: #444;
}

.buttons {
    margin-top: 80px;
    display: flex;
    justify-content: flex-end;
    gap: 25px;
}

.buttons button {
    width: 90px;
    height: 90px;
    border: none;
    border-radius: 25px;
    background: white;
    font-size: 40px;
    cursor: pointer;
    box-shadow: 10px 10px 20px 0px #00000017, -10px -10px 20px 0px #FFFFFF;
    transition: 0.3s;
}

.buttons button:hover {
    transform: translateY(-5px);
}

.icon-mab {
    font-size: 1.3em;
}

.icon-mab img {
    width: 25px;
}

.img-mab img {
    width: 500px;
}

.text-mab p {
    font-size: 20px;
    line-height: 30px;
    width: 550px;
}

.text-mab {
    display: flex;
    align-items: start;
    justify-content: center;
}

.text-mab p#p3 {
    font-size: 19px;
    font-weight: 500;
    width: 450px;
}

.text-mab p#p2 {
    margin-bottom: 40px;
}

.text-mab h1 {
    font-size: 45px;
    font-weight: 300;
    margin-bottom: 20px;
}

.img-mab {
    width: 540px;
    box-shadow: 20px 20px 50px 0px #D2D2D2, -20px -20px 50px 0px #FFFFFF;
    background-color: #F3F3F3;
    height: 620px;
    border-radius: 50px;
}

.text-img-r {
    background: #1F1F1FD9;
    width: 50%;
    color: #fff;
    height: 100%;

}

.text-img-r h3 {
    font-family: myfontp;
    width: 500px;
    font-size: 25px;
    font-weight: 500;
    line-height: 50px;

}

.text-img-r p {
    width: 500px;
    font-weight: 400;
    line-height: 30px;
}

.text-img-totl img {
    width: 50%;
    height: 100%;
}

.text-img-totl {
    width: 100%;
    height: 120vh;
}

p#h12 {
    font-size: 2.7em;
    font-weight: 700;
}

.input-text {
    background-color: #F3F3F3;
}

.input-text p#pre12 {
    font-size: 28px;
    width: 700px;
    text-align: center;
}

.input-text input {
    width: 400px;
    height: 90px;
    border: none;
    border-radius: 10px;
    font-size: 18px;
    font-weight: 700;
    background: #F3F3F3;
    box-shadow: 10px 10px 20px 0px #00000017 inset, -10px -10px 20px 0px #FFFFFF inset;
    outline: none;
    padding: 0 70px;
}

.input-text input::placeholder {
    color: #434343;
}

.btn1 {
    width: 400px;
    height: 90px;
    padding: 0 32px;
    background: #F3F3F3;
    border: none;
    border-radius: 18px;
    font-size: 18px;
    font-weight: 700;
    color: #12B7B6;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 14px;
    box-shadow:
        0 12px 25px rgba(0, 0, 0, 0.06),
        0 4px 8px rgba(0, 0, 0, 0.03);
    cursor: pointer;
}

.btn1:hover {
    background-color: var(--sub);
    color: var(--main);
}
.input-3{
    gap: 50px;
    width: 100%;
    display: flex;
    align-items: start;
    justify-content: center;
}